.registration {
    width: 600px;
    margin-top: 50px;
}
.registration h1 {
    padding-top: 0;
    margin-top: 0;
}

.registration .error {
    position: relative;
    top: -10px;
    padding-left: 150px;
    margin-bottom: 20px;
    color: red;
    font-size: 12px;
}

.registration label{
    width: 150px;
    display: inline-block;
    color: grey;
    height: 30px;
    font-size: 15px;
}

.registration input[type=text], input[type=password] {
    /*float: right;*/
    height: 35px;
    width: 400px;
}

.registration input[type=submit] {
    margin-top: 20px;
    margin-left: 150px;
    width: 200px;
    font-size: 18px;
}